<h1>New Puppy<h1>
<%= form_for @puppy do |f|%>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
<% end %>
